*,
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {

    min-height: 100vh;

}

.background-container {
    background-image: url('../images/pic6.jpg');
    /* Change 'contain' to desired value */
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #000;
    width: 100%;
    height: 100vh;
    background-size: cover;
    opacity: 0.9;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 10px 20px;
}

.logo {
    font-size: 1.5rem;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
    justify-content: center;
}

.nav-links li a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
}

.nav-links li a:hover {
    color: #FF5733;
    /* Change color on hover */
}


/* ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  } */
.centered-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 10px;
}

.logo img {
    max-width: 100px;
    height: auto;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.nav-links li a {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
}

.nav-links li a:hover {
    color: #FF5733;
}

card {
    height: 580px;
    width: 800px;
    background-color: rgba(255, 255, 255, 0.13);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 50px 35px;
}

header {
    padding: 0;
    margin: 0;

    font-size: 30px;
    font-weight: 600;
    color: #333;
    text-align: center;
}

form .title {
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 500;
    margin: 6px 0;
    color: #333;
}

form .fields {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

form .fields .input-field {
    display: flex;
    width: calc(100% / 3 - 15px);
    flex-direction: column;
    margin: 4px 0;
}

.input-field label {
    font-size: 12px;
    font-weight: 500;
    color: #2e2e2e;
}

.input-field input,
select {
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    border-radius: 5px;
    border: 1px solid #aaa;
    padding: 0 15px;
    height: 42px;
    margin: 8px 0;
}

.input-field input :focus,
.input-field select:focus {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.13);
}

.input-field select,
.input-field input[type="date"] {
    color: #707070;
}

.input-field input[type="date"]:valid {
    color: #333;
}

form button,
.backBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    max-width: 200px;
    width: 100%;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 5px;
    margin: 25px 0;
    background-color: #f61942;
    transition: all 0.3s linear;
    cursor: pointer;
}

form .btnText {
    font-size: 14px;
    font-weight: 400;
}